@import url('https://fonts.googleapis.com/css2?family= Roboto :wght@400;500 & display=swap');


body,
h1,
h2,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    background-color: #1a2c2e;
    color: white;
}


header {
    background-image: url("./img/Papel\ de\ parede\ para\ computador\ astronauta\ galáxia\ preto\ e\ branco.png");
    background-size: cover;
    color: aliceblue;
    text-align: center;
    padding: 150px 0;
}

#agendamento{
    background-color: #2a3c3e;
    color: white;
    padding: 20px;
    text-align: center;
}

#agendamento h2{
    font-size: 28px;
    margin-bottom: 10px;
}
#agendamento p{
    font-size: 18px;
    margin-bottom: 20px;
}

#agendamento a{
    display: inline-block;
    background-color: #ff5733;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}


.workout-carousel {
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
}

.workout-carousel img {
    max-width: 100%;
    height: auto;
}

nav {
    background-color: rgb(26, 44, 46, 0.6);
    color: antiquewhite;

}

#main-menu {
    display: none;
    list-style: none;
    padding: 0;
}

#main-menu li {
    display: inline;
    margin: 0 10px;
}

#main-menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.menu-icon {
    display: none;
    cursor: pointer;
}


.header-content {
    display: block;
}

@media screen and (max-width:768px) {
    .menu-icon {
        display: block;
    }

    #main-menu {
        display: block;
        text-align: center;
    }

    #main-menu li {
        display: block;
        margin: 10px 0;
    }

    .header-content {
        display: none;
    }
}



#endereco{
    background-color: #374949;
    color: white;
    padding: 20px;
    text-align: center;

}
#endereco h2{
    font-size: 28px;
    margin-bottom: 10px;

}
#endereco p{
font-size: 18px;
margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: azure;
    text-align: center;
    padding: 20px;
}

.social-media img {
    width: 30px;
    width: 30px;
    margin: 0 5px;
}

section {
    padding: 20px;
}